html {
  background-color: rgb(208, 194, 176);
}

@media screen and (max-width: 768px) {
  .indexTop {
   
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
  }

  .title1 {
    font-size: 5vw;
  }


}

html, body {
  margin: 0;
  padding: 0;
}

.indexTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(208, 194, 176);
  height: 15vw;
  padding-right: 8vw; 
}

.title1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 4vw; 
}


#recipeCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin-top: 3em;
}
.recipeCard {
  
  border: 0.1em solid #ccc;
  border-radius: 0.8em;
  padding: 1em;
  margin: 0.5em;
  background-color: #fff;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.1);
}

.recipe-title {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.8em;
}

.recipe-ingredients li {
  margin-bottom: 0.4em;
}

.recipe-instructions {
  font-style: italic;
}

.recipe-card img {
  width: 100%;
  max-height: 20em;
  object-fit: cover;
  border-radius: 0.4em;
  margin-bottom: 0.6em;
}
#search-form {
  display: flex;
 
  align-items: center;
  justify-content: center;

margin:auto;
  width: 50%;
  margin-bottom: 2em;
}

#search-input {
  padding: 0.5em;
  font-size: 1.5em;
  border: 0.2em solid #999;
  border-radius: 0.4em;
  margin-right: 0.5em;
  flex: 1;
}

#search-input::placeholder {
  color: #1d1d1d;
}

#search-input:focus {
  outline: none;
  border-color: #a8a8a8;
}

#search-button {
 
  padding: 0.5em;
  background-color: #8aac81;
  color: #fff;
  border: none;
  border-radius: 0.4em;
  font-size: 1.5em;
  cursor: pointer;
  width: auto;
  height: auto;
}

#search-button:hover {
  background-color: #43c354;
}

#search-input::placeholder {
  color: #999;
}

#logo1{
 margin-right: 3em;
  width: 1em; 
  height: 1em;
  transform: translateX(0.625em);
}
#logo2 {
  margin-left: 1.5em;
  width: 1em; 
  height: 1em; 
 

  transform: translateX(0.625em);
}



.recipe-card {
  /* Styles for the card container */
  background-color: #eaa5b9;
  padding: 1em;
  border-radius: 0.3125em;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  /* Styles for the image */
  width: 100%;

}

.recipe-card h2 {
  /* Styles for the title */
  font-weight: bold;
  margin-bottom: 0.625em;
  font-size: 1.75em;
}

.recipe-card ul {
  /* Styles for the ingredients list */
  list-style-type: none;
  padding: 0;
}

.recipe-card li {
  /* Styles for the list items */
  margin-bottom: 0.3125em;
  font-size: 1.25em;
}

.recipe-card a {
  /* Styles for the instructions link */
  display: block;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0.3125em;
  color: #148729;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 600;
}

.recipe-card a:hover {
  color: #1cba39;
}

